<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ui.application.HolviApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/data_extraction_rules"
        android:label="${app_name}"
        android:icon="@mipmap/ic_holvi_app"
        android:supportsRtl="true"
        android:roundIcon="@mipmap/ic_holvi_app_round"
        android:theme="@style/Theme.Holvi"
        tools:targetApi="s">

        <activity
            android:name=".ui.activity.AuthenticationActivity"
            android:exported="true"
            android:theme="@style/Theme.Holvi.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MenuActivity"
            android:exported="true"
            android:theme="@style/Theme.Holvi.NoActionBar" />

    </application>

</manifest>